---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Html from "../../layouts/Html.astro";
---

<!doctype html>
<Html>
  <head>
    <BaseHead
      title="Bahaa Zidan contact info and resume"
      description="Contact information and resume for Gebna, GebnaTorky, or Bahaa Zidan"
    />
  </head>
  <body>
    <Header />
    <main class="prose prose-lg p-4">
      <h2>Ways to contact me</h2>
      <ul>
        <li>
          <a href="mailto:gebnatorky@gmail.com">
            Email: The best way to contact me
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/bahaazidan/" rel="nofollow">
            LinkedIn: My digital resume
          </a>
        </li>
        <li>
          <a href="https://github.com/BahaaZidan" rel="nofollow">
            GitHub: Most of what I build is proprietary but it doesn’t hurt to
            link it in case I open source something valuable
          </a>
        </li>
        <li>
          <a href="https://twitter.com/GebnaTorky" rel="nofollow">
            Twitter: I see no value in that website
          </a>
        </li>
        <li>
          <a href="https://youtube.com/@GebnaTorky" rel="nofollow">
            Youtube: My empty channel
          </a>
        </li>
        <li>
          <a href="https://www.twitch.tv/gebnatorky" rel="nofollow">
            Twitch: I don’t stream
          </a>
        </li>
      </ul>
    </main>
  </body>
</Html>
