---
import { SearchIcon } from "@lucide/astro";
import SearchBar from "./SearchBar.svelte";
---

<header class="flex w-full justify-center">
  <div class="flex w-full max-w-7xl justify-between p-4">
    <a class="btn btn-ghost text-xl" href="/">
      <img src="/avatar.webp" class="size-9 rounded-full" alt="my avatar" />
      Bahaa Zidan
    </a>
    <div class="drawer w-28">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer" class="btn drawer-button">
          <SearchIcon />
          Search
        </label>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"
        >
        </label>
        <ul
          class="menu bg-base-200 text-base-content min-h-full w-80 gap-2 p-4"
        >
          <div class="revert-all">
            <SearchBar client:only />
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>
