---
import SearchIcon from "./svg/mdi--search.svg";
---

<header>
  <div class="flex items-center justify-center gap-2 py-2 font-mono">
    <a class="link-hover text-xl font-bold" href="/">Bahaa's Blog</a>
    <div class="drawer max-w-6">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer" class="btn drawer-button">
          <SearchIcon />
        </label>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"
        >
        </label>
        <ul
          class="menu min-h-full w-80 gap-2 bg-base-200 p-4 text-base-content"
        >
          <input
            type="text"
            placeholder="search"
            class="input input-bordered"
          />
          <a class="link-hover text-lg" href="/whoami">contact me</a>
          <a class="link-hover text-lg" href="/rss.xml">rss</a>
        </ul>
      </div>
    </div>
  </div>
</header>
