---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Html from "../../layouts/Html.astro";
---

<!doctype html>
<Html>
  <head>
    <BaseHead
      title="Recommendations"
      description="A list of technical articles and videos that have stood the test of time."
    />
  </head>
  <body>
    <Header />
    <div class="prose prose-lg p-4">
      <!--[-->
      <h1>Recommendations</h1>
      <p>
        A list of technical articles and videos that have stood the test of
        time.
      </p>
      <h3>
        Things every developer absolutely, positively needs to know about
        database indexing - Kai Sassnowski
      </h3>
      <p>
        <a href="https://www.youtube.com/embed/HubezKbFL7E" rel="nofollow">
          https://www.youtube.com/embed/HubezKbFL7E
        </a>
      </p>
      <h3>Atomic Design - Brad Frost</h3>
      <p>
        <a
          href="https://bradfrost.com/blog/post/atomic-web-design/"
          rel="nofollow"
        >
          https://bradfrost.com/blog/post/atomic-web-design/
        </a>
      </p>
      <h3>A Complete Guide to Flexbox - Chris Coyier</h3>
      <p>
        <a
          href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
          rel="nofollow"
        >
          https://css-tricks.com/snippets/css/a-guide-to-flexbox/
        </a>
      </p>
    </div>
  </body>
</Html>
