---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article class="prose prose-lg mx-auto p-4">
        <h1>
          {title}
        </h1>
        <h4>Written by <a href="/whoami">Bahaa Zidan</a></h4>
        <h4><FormattedDate date={pubDate} /></h4>
        <div class="divider"></div>
        <slot />
      </article>
    </main>
    <div class="hero">
      <div class="hero-content text-center">
        <div class="flex max-w-md flex-col gap-2">
          <h1 class="text-2xl font-bold">Thank you for reading!</h1>
          <ul>
            <li>
              For any questions or comments, feel free to <a
                href="/whoami"
                class="link">contact me</a
              >
            </li>
            <li>
              Add <a href="/rss.xml" class="link">my blog's rss</a>
              to your feed
            </li>
            <li><a href="/support" class="link">Buy me a coffee</a></li>
          </ul>
          <p>🍉</p>
        </div>
      </div>
    </div>
    <script>
      let copyButtonLabel = "Copy";
      let codeBlocks = Array.from(document.querySelectorAll("pre"));

      for (let codeBlock of codeBlocks) {
        let wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        let copyButton = document.createElement("button");
        copyButton.className = "btn btn-secondary absolute right-0 top-0";
        copyButton.innerHTML = copyButtonLabel;

        codeBlock.setAttribute("tabindex", "0");
        codeBlock.appendChild(copyButton);
        // wrap codebock with relative parent element
        codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
        wrapper.appendChild(codeBlock);

        copyButton.addEventListener("click", async () => {
          await copyCode(codeBlock, copyButton);
        });
      }

      async function copyCode(
        block: HTMLPreElement,
        button: HTMLButtonElement,
      ) {
        let code = block.querySelector("code");
        let text = code?.innerText;
        if (!text) return;

        await navigator.clipboard.writeText(text);

        // visual feedback that task is completed
        button.innerText = "Copied";

        setTimeout(() => {
          button.innerText = copyButtonLabel;
        }, 1000);
      }
    </script>
  </body>
</html>
